<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<mat-card *ngIf = "(authService.getUser()|async)">
    <h1>New Student</h1>
    <form>
        <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Grade in mathematics</mat-label>
                <input matInput 
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Psychometric score</mat-label>
                <input matInput 
                [(ngModel)] = "psyc"
                name = "psyc"
                required>
            </mat-form-field>
        </p>
        <label id="example-radio-group-label">Has the student completed pay?</label>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="ifpay">
        <mat-radio-button class="example-radio-button" *ngFor="let pay of pays" [value]="pay">
            {{pay}}
        </mat-radio-button>
        </mat-radio-group>
        <div >
            <button mat-raised-button color="primary">
                predict
            </button>
            <button mat-raised-button color="primary" (click)="add(math,psyc)" >
                save
            </button>
            <button mat-raised-button color="warn">
                cancel
            </button>
        </div>
        </div>
    </form>
</mat-card>
    