<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <h2>List of students</h2>   
    <mat-accordion>
    <table><th>Grade in mathematics</th><th>Psychometric score</th><th>Has the student completed pay?</th><th>predict</th><th>user email</th></table>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false"
                            *ngFor = "let student of students$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{student.math}}
            </mat-panel-title>
            <mat-panel-description>
                {{student.psyc}}
            </mat-panel-description>
            <mat-panel-description>
                {{student.pay}}
            </mat-panel-description>
            <mat-panel-description>
                {{student.predict}}
            </mat-panel-description>
            <mat-panel-description>
                {{email}}
            </mat-panel-description>
            <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
        </mat-expansion-panel-header>  
    </mat-expansion-panel>
    </mat-accordion>
    