.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-panel-description {
    text-align: left;
    width: 400px;
}

mat-panel-title {
    width: 400px;
}

th {
    width:250px;
    text-align: left;
    color: blueviolet;
}
